.imgbar { 
	padding-left: 50px;
	padding-bottom: 20px;
}

img {
	height: auto;
	width: auto;
	max-width: 175px;
	max-height: 125px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	vertical-align: middle;
	cursor: pointer;
}

.isSelected {
	box-shadow: 10px 10px 10px #FE0;
}