doctype html
html(lang='en')
	head
		link(rel='icon', type='image/png', href='http://example.com/myicon.png')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
		script(src='/js/fabric.js')
		script(src='/js/home.js')
		link(rel='stylesheet', href='/css/styles.css')
	body(style='margin:0px;')
		//.imgbar
		//	img(src='/assets/road.png', alt='', id='road')
		//	img(src='/assets/redcar.png', alt='', id='redcar')
		//	img(src='/assets/greycar.png', alt='', id='greycar')
		//	img(src='/assets/stoplight.png', alt='', id='stoplight')
		//	img(src='/assets/delete.png', alt='', id='delete')
		canvas(id='canvas')
		div(id='info')