doctype html
html(style='margin:0px;')
	head
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
		script(src='/js/index.js')
	body(style='margin:0px;')
		canvas(id='canvas')
		div(id='info')