doctype html
html(lang='en')
	head
		link(rel='icon', type='image/png', href='http://example.com/myicon.png')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
		script(src='/js/index.js')
		link(rel='stylesheet', href='/css/styles.css')
	body(style='margin:0px;')
		.imgbar
			img(src='/assets/road.png', alt='')
			img(src='/assets/redcar.png', alt='')
			img(src='/assets/greycar.png', alt='')
			img(src='/assets/stoplight.png', alt='')
			img(src='/assets/delete.png', alt='')
		canvas(id='canvas')
		div(id='info')